# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac System files
/public/notes.txt
/src/pages/RegisterPage/
src/pages/RoomDetails/PropertyImages.tsx
/src/pages/LoginPage/
# /src/components/PropertyManagementSystem/
# /src/components/PropertyManagementSystem/PropertyManagement