@import url("../../../public/theme.css");

/* theme.css */
:root {
   
   /* search bar */
   --border-focus: var(--dark-stroke-color);
   --height: 50px;
   --border-radius: 999px; /* Rounded full */

   --transition-duration: 300ms;
   --transition-timing: ease-in-out;
   --width-default: 250px;
   --width-focused: 360px;



   /* input Field */
   --placeholder-color: var(--secondary-text-color);
   --placeholder-size: 14px;

   /* search button */
   --icon-size: 20px;
   --search-button-container-size: 36px;
   --search-button-transition-duration: 150ms;
   --search-button-transition-timing: ease;
}

.input-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 23px;

   border: 1px solid transparent;
   box-shadow: var(--light-shadow);

   height: var(--height);
   border-radius: var(--border-radius);
   padding: 10px 10px;

   transition: all var(--transition-duration) var(--transition-timing);
   width: var(--width-default);
}

.input-container.focused {
   width: var(--width-focused);
   border-color: var(--dark-stroke-color);
}

input {
   background: none;
   outline: none;
}

.input-field {
   flex: 1;
   text-align: start;
   color: var(--primary-text-color);
   transition: color var(--transition-duration) var(--transition-timing);
}

.input-field::placeholder {
   color: var(--placeholder-color);
   font-size: var(--placeholder-size);
}

/* Search Button */
.search-button {
   width: var(--search-button-container-size);
   height: var(--search-button-container-size);
   border-radius: 9999px; /* rounded-full */
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--primary-colo-theme);
   cursor: pointer;
}

.search-button:hover {
   opacity: 0.9;
}

.search-icon {
   width: var(--icon-size);
   height: var(--icon-size);
   color: var(--light-white-color);
}

@media (max-width: 1024px) {

}

@media (max-width: 820px) { 
   .input-container {
      width: 250px;
   }
   .input-container.focused {
      width: 270px;
   }
}

@media (max-width: 768px) { 
   .input-container {
      position: absolute;
      bottom: 10px;
      left: calc(50% - 250px / 2);
   }
}

@media (max-width: 480px) {
   .input-container { 
      height: 40px;
   }
   .search-button {
      width: 30px;
      height: 30px;
   }
   .search-icon { 
      width: 18px;
      height: 18px;
   }

   .input-field::placeholder {
      font-size: 11px;
   }

}