@keyframes slideInUp {
   from {
      transform: translateY(100px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes fadeInRight {
   from {
      transform: translateX(100px);
      opacity: 0;
   }

   to {
      transform: translateX(0);
      opacity: 1;
   }
}


@keyframes fadeOutRight {
   from {
      transform: translateX(0);
      opacity: 1;
   }
   to {
      transform: translateX(100px);
      opacity: 0;
   }

}

@keyframes slideOutDown {
   from {
      transform: translateY(0);
      opacity: 1;
   }

   to {
      transform: translateY(100px);
      opacity: 0;
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }

   25% {
      transform: translateX(-5px);
   }

   50% {
      transform: translateX(5px);
   }

   75% {
      transform: translateX(-5px);
   }

   100% {
      transform: translateX(0);
   }
}

.animate-shake {
   animation: shake 0.5s ease-in-out;
}

.fade-in {
   animation: fade-in 0.5s ease-out;
}

.slide-in {
   animation: slideInUp 0.4s ease-out forwards;
}

.slide-out {
   animation: slideOutDown 0.4s ease-in forwards;
}
.fade-in-right{
   animation: fadeInRight 0.2s ease-out forwards;
}
.fade-out-right{
   animation: fadeOutRight 0.2s ease-out forwards;
}