/* للمتصفحات اللي تدعم Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* يخفي الـ scrollbar */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* يخفي الـ scrollbar في فايرفوكس */
  -ms-overflow-style: none; /* لإخفاء scrollbar في IE 10+ */
}
