@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Cairo", sans-serif;

}

.IconSize {
    font-size: 1.5rem;
    @apply w-[25px];
    @apply h-[25px];
    @apply ml-2;


}

.logo {
    @apply w-[150px];
    @apply h-[3rem];
}

.MainColorText {
    color: #DC3545;
}

.MainColorBG {
    background-color: #DC3545;
    transition: .3s ease-in-out;
}

.MainColorBG:hover {
    background-color: #ff0019;
}

.InputStyle {
    @apply w-full;
    @apply h-[3rem];
    @apply border-2;
    @apply border-gray-200;
    @apply p-2;
    @apply rounded-md;
}

.ErrorMessage {
    @apply text-red-600;
}

.BODY {
    /* @apply mt-[5rem]; */
    @apply py-[5rem];
}

.CenterCol {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply w-full;
}

@keyframes slideShow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.hero-slide {
    @apply absolute inset-0 bg-cover bg-center transition-opacity duration-1000;
    animation: slideShow 24s infinite;
}

.hero-slide:nth-child(1) {
    animation-delay: 0s;
}

.hero-slide:nth-child(2) {
    animation-delay: 6s;
}

.hero-slide:nth-child(3) {
    animation-delay: 12s;
}

.hero-slide:nth-child(4) {
    animation-delay: 18s;
}

/* .CardHover{
    @apply transition-all;
    @apply duration-200;
}
.hover-effect:hover {
    background-color: #4B5563; 
} */
/* .Page
 {
    @apply mt-20;
 } */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.dark .btn-close {
  filter: invert(1);
}