@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Cairo", sans-serif;
    
}
.IconSize{
    font-size: 1.5rem;
    @apply w-[25px];
    @apply h-[25px];
  
   

}
.logo
{
    @apply w-[150px];
    @apply h-[3rem];
}
.MainColorText
{
    color: #DC3545;
}
.MainColorBG
{
    background-color: #DC3545;
    transition: .3s ease-in-out;
}
.MainColorBG:hover
{
    background-color: #ff0019;
}
.InputStyle{
    @apply w-full;
    @apply h-[3rem];
    @apply border-2;
    @apply border-gray-200;
    @apply p-2;
    @apply rounded-md;
}
.ErrorMessage
{
    @apply text-red-600;
}
.BODY{
    /* @apply mt-[5rem]; */
    @apply py-[5rem];
}
.CenterCol
{
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply w-full;
}
/* .CardHover{
    @apply transition-all;
    @apply duration-200;
}
.hover-effect:hover {
    background-color: #4B5563; 
} */
